.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
  color: rgb(29, 29, 148);
  font-weight: bolder;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postit-list {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.postit {
  background-color: #fff783;
  padding: 1rem;
  height: 20vh;
  min-height: 170px;
  width: 15vw;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.greenPostIt {
  background-color: rgb(222, 252, 177);
  padding: 1rem;
  height: 10vw;
  min-height: 170px;
  width: 15vw;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.postit-header {
  display: flex;
  justify-content: space-between; 
}

.postit-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background-color: rgb(29, 29, 148);
  color: white;
  font-size: x-large;
}

.addButton:hover {
  background-color: rgb(38, 38, 196);
  cursor: pointer;
}

.postit.new {
  padding-top: 2vh;
}

textarea {
  border: none;
  resize: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  font-size: small;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea:focus {
  outline: none;
}

.editInput {
  border: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  font-size: small;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.editInput:focus {
  outline: none;
}

.newPostIt-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40%;
}

.newPostItButtons {
  border: none;
  border-radius: 10px;
  background-color: rgb(29, 29, 148);
  color: white;
  padding: 0.5vh 1vw 0.5vh 1vw;
}

.newPostItButtons:hover {
  background-color: rgb(38, 38, 196);
  cursor: pointer;
}

.deleteButton {
  cursor: pointer;
  margin: 2px;
}

.trashbinIconContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4vh;
  margin-right: 10vw;
}

.restoreButton {
  cursor: pointer;
  margin: 1px;
  margin-right: 10px;
}

.trashbinIcon {
  position: relative;
}

.trashbinCount {
  position: absolute;
  top: -12px;
  right: -8px;
  background-color: red;
  color: #fff;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.trashbinCount div {
  margin-top: 1px;
}

.turnYellowButton {
  height: 15px;
  width: 15px;
  border-color: black;
  background-color: #fff783;
  cursor: pointer;
  margin: 2px;
}

.turnGreenButton {
  height: 15px;
  width: 15px;
  border-color: black;
  background-color: rgb(222, 252, 177);
  cursor: pointer;
  margin: 2px;
}

.trashbinFooter {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.trashbinButtons {
  background-color: rgb(29, 29, 148);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-weight:bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.trashbinButtons:hover {
  background-color: rgb(38, 38, 196);
  cursor: pointer;
}

.emptyTrashbin {
  border: solid;
  border-color: rgb(207, 8, 8);
  border-radius: 10px;
  padding: 20px;
  color: rgb(207, 8, 8);
  text-decoration: underline;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}