.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}

.postit-list {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.postit {
  background-color: #fff783;
  padding: 1rem;
  height: 10vw;
  width: 15vw;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.postit-header {
  display: flex;
  flex-direction: row-reverse;
}

.postit-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  border: none;
  background-color: rgb(29, 29, 148);
  color: white;
  font-size: x-large;
}

.addButton:hover {
  background-color: rgb(38, 38, 196);
  cursor: pointer;
}

.postit.new {
  padding-top: 2vw;
}

textarea {
  border: none;
  resize: none;
  background-color: Transparent;
  background-repeat:no-repeat;
  font-size: small;
}

textarea:focus {
  outline: none;
}

.newPostIt-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2vw;
}

.newPostItButtons {
  border: none;
  border-radius: 10px;
  background-color: rgb(29, 29, 148);
  color: white;
  padding: 0.2vw 1vw 0.2vw 1vw;
}

.newPostItButtons:hover {
  background-color: rgb(38, 38, 196);
  cursor: pointer;
}

.deleteButton {
  cursor:pointer;   
}

.trashbinIcon {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4vh;
  margin-right: 10vw;
}

.restoreButton {
  cursor:pointer;
  margin-right: 1rem;
}
